doctype html
html(lang="en")
  head
    title jSeminck.BE Translation API
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  body
    div.container
      h1 Translation API

      p For more information, see:
        a(href="https://github.com/jseminck/jseminck-be-translation-translation") https://github.com/jseminck/jseminck-be-api-translation

      h3 Last Updates
        h4 Version 1.0
        ul
          li Add index.jade
          li Added bootstrap to index.jade file.
          li Updated deployment script on DigitalOcean
          li /api/updateDifficulty added
          li Enable /reset API
          li Disable /reset API
          li Enable authentication

