doctype html
html(lang="en")
  head
    title jSeminck.BE Translation API
  body
    h1 jSeminck.BE Translation API
    #container
      p Last Updates
        ul
          li version 0.1 - updateDifficulty added
      p This application is used for translation application with jSeminck.BE microservices.
      p We do not know how you got here, but there really isn't anything to see here.
        | Please head over to github to learn more about the API of this service
        a(href="https://github.com/jseminck/jseminck-be-api-translation")
          | https://github.com/jseminck/jseminck-be-api-translation

